* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#App {
  text-align: center;
}

.main-display {
  /* background: linear-gradient(to right, rgb(95,160,245), rgb(126,163,197)); */
  background: #5fa0f5;
  color: #fff;
  padding: 6px;
}

.main-display a {
  text-decoration: none;
  display: inline-block;
  padding: 4px 15%;
  margin: 4px 0;
  background: #b2b2b3;
  color: #fff;
  transition: background 0.5s ease;
}

.main-display a:nth-of-type(1) {
  border-top: #416ce0 1px solid;
  border-left: #416ce0 1px solid;
  border-bottom: #416ce0 1px solid;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.main-display a:nth-of-type(2) {
  border-top: #416ce0 1px solid;
  border-right: #416ce0 1px solid;
  border-bottom: #416ce0 1px solid;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.main-display a.active {
  background: #c6e2f1;
  color: #5fa0f5;
}

.image-display {
  margin: 4px 0;
  text-align: center;
}

.image-display img {
  border-radius: 6px;
  border: #416ce0 1px solid;
  box-sizing: border-box;
}

.fill-width {
  width: 80vw;
  height: auto;
}

.fill-height {
  height: 40vh;
  width: auto;
}

.image-display p {
  overflow-wrap: break-word;
}

form textarea {
  width: 80%;
  min-width: 60%;
  max-width: 90%;
  height: 100px;
  max-height: 400px;
  border-radius: 6px;
  margin-top: 6px;
  padding: 2px;
  font-size: 14px;
  box-sizing: border-box;
}

form .lock {
  display: inline-block;
  position: relative;
}

form .lock img {
  width: 56px;
}

form .lock input[type="submit"] {
  position: absolute;
  height: 48px;
  width: 40px;
  left: 8px;
  top: 4px;
  opacity: 0;
  cursor: pointer;
}

.border-curve {
  width: 100%;
  height: auto;
}

.border-curve path:nth-child(1) {
  fill: #5fa0f5;
}

.border-curve path:nth-child(2) {
  fill: #fff;
}

.result {
  color: #5fa0f5;
}

.result a, .result p {
  text-decoration: none;
  color: #b2b2b3;
}

.result a:hover {
  color: #5fa0f5;
}

.msg-display {
  margin: 4px 10%;
  text-align: center;
  word-wrap: break-word;
}

.hidden {
  display: none;
}

@media screen and (max-width: 500px) {
  #App {
    overflow-x: hidden;
  }
  .border-curve {
    width: 500px;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    background: #5fa0f5;
  }

  .main-display {
    width: 980px;
    margin: auto;
  }
  
  .msg-display {
    width: 720px;
    margin: auto;
  }
}